.open{
    display: flex !important;
}

header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 90px;
	width: 100%;
	height: 60px;
	background-color: #3a2d28;
	z-index: 2;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 130px;
	height: 50px;
	margin: 0 auto;
	padding: 2px 1px 2px 8px;
}

.logo-text {
	color: #d1c7bd;
	font-weight: 700;
	font-size: 24px;
	text-decoration: none;
}

.logo-text span {
	opacity: 0;
	color: cyan;
	transition: opacity 1s cubic-bezier(0, 0, 1, 1);
}

.logo-text:hover {
	color: #cbad8d;
	transition: color 2s cubic-bezier(0, 0, 1, 1) 500ms;
}

.logo-text:hover span {
	opacity: 1;
}

.social {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	width: 130px;
	height: 60px;
	margin: 0 auto;
}

.social a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #d1c7bd;
}

.social a:hover {
	font-size: 24px;
	transition: font-size 0.3s cubic-bezier(0, 0, 1, 1);
}

.main-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 280px;
	height: 60px;
	margin: 0 auto;
	list-style: none;
}

.menu-item {
	flex: 1;
	height: 100%;
}

.menu-item a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	color: #d1c7bd;
	margin-right: 8px;
}

.menu-item a:hover {
	background-color: #d1c7bd;
	border-radius: 0 8px 0 8px;
	color: #3a2d28;
	transition: all 0.5s cubic-bezier(0, 0, 1, 1);
}

.burger-menu{
    display: none;
    position: relative;
    width: 25px;
    height: 18px;
    margin-right: 10px;
    z-index: 20;
    align-items: center;
    justify-content: flex-end;
}

.burger-menu span{
    width: 80%;
    height: 2px;
    transform: scalw(1);
    background-color: #d1c7bd;
}

.burger-menu::before, .burger-menu::after{
    content: '';
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #d1c7bd;
    transition: all .3s ease 0s;
}

.burger-menu::before{
    top: 0;
}

.burger-menu::after{
    bottom: 0;
}

.burger-menu.active span{
    transform: scale(0);
}

.burger-menu.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger-menu.active::after{
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 480px){
	header {
		 width: 100%;
			margin-bottom: 15px;
			justify-content: space-around;
	}
}

@media (max-width: 900px) {
	header {
	    width: 100%;
			margin-bottom: 5px;
		justify-content: space-around;
	}
	
	.logo{
		width: 15%;
	    margin: 0 auto;
	}
	
	.logo-text {
		font-size: 18px;
	}
	
	.social{
	width: 40%;
	    justify-content: center;
	    padding: 0 2px;
	}

	.social a {
		width: 120px;
		font-size: 12px;
	}
	
	.main-menu{
	    display: none;
	    flex-direction: column;
	    justify-content: flex-start;
	    position: fixed;
	    width: 70%;
	    height: 100%;
	    border-top: 1px solid #fff;
	    top: 60px; right: 0;
	    z-index: 20;
	    overflow-y: auto;
	    padding: 50px 10px;
	    background-color: #3a2d28;
	    animation: burgerAnimation .8s;
	}
	
	@keyframes burgerAnimation {
	    from(opacity: 0)
	    to (opacity: 1)
	}
	
	.menu-item{
	    flex: 0;
	    margin: 10px 0;
	    
	}

	.menu-item a {
	    flex-direction: column;
	    width: 100%;
	    height: ;100%
	    row-gap: 30px;
		font-size: 14px;
	}
	
	.burger-menu{
		margin-left: 10px;
	    display: flex;
	}
}